@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './base.css';

:root {
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #333333;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --radius: 1rem;

    --background: #ffffff;
    --foreground: #1a202c;
    --primary: #007bff;
    --primary-foreground: #ffffff;
    --secondary: #f8f9fa;
    --secondary-foreground: #343a40;
    --muted: #e9ecef;
    --muted-foreground: #6c757d;
    --accent: #28a745;
    --accent-foreground: #ffffff;
    --destructive: oklch(0.577 0.245 27.325);
    --border: #ced4da;
    --input: #ffffff;
    --sidebar: #f1f3f5;
    --sidebar-foreground: #343a40;

    --ring: var(--primary);
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
    --background: #1a202c;
    --foreground: #ffffff;
    --primary: #66a3ff;
    --primary-foreground: #ffffff;
    --secondary: #2d3748;
    --secondary-foreground: #e2e8f0;
    --muted: #3f4b5b;
    --muted-foreground: #a0aec0;
    --accent: #38a169;
    --accent-foreground: #ffffff;
    --destructive: oklch(0.704 0.191 22.216);
    --border: #4a5568;
    --input: #2d3748;
    --sidebar: #252b36;
    --sidebar-foreground: #e2e8f0;

    --ring: var(--primary);
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
}
